<template name="AboutUs">
<aside class="info-concours">
	<h2>À propos de nous ?</h2>
</aside>
<article>
	<p>
	Mais au fait, qui sommes nous ? Comment trouvons nous nos lots ? Dans quel intêret faisons-nous cela ?
	Sommes-nous vraiment légitimes et non pas un fake ? C'est ici que je vais m'efforcer de vous répondre.
	En effet, nous sommes deux à travailler sur le site et la maintenance de ses services. Deux personnes
	à l'âme tranquille et joyeuse. Si nous faisons cela, c'est simplement dans le but de faire plaisir à des
	gens tout en promouvant divers jeux plus ou moins connu et bien sur pour que nous nous amusons. Si cela
	ne nous amuserai pas nous ne le ferions pas !
	</p>
	<p>
	Nos lots, nos clés nous les trouvons en... Mendiant ! Non, plus sérieusement, on part demander à des
	éditeurs, des développeurs, des sponsors des clés en leur présentant le projet et en certifiant qu'elle
	seront bien redistribuées via notre système.
	</p>
	<p class="warning"><i class="fa fa-warning"></i> Par mesure de sécurité nous prévenons que les 2 seuls vrai administrateurs et gérants du site sont :</p>
	<p class="admin">MrPl4y4Fun (Fondateur)</p>
	<p class="admin">Imote (Technicien)</p>
	<p>Si quelqu'un d'autre prétend être l'un d'entre nous, c'est un usurpateur.</p>
	<div class="underscore"></div>
	<p>Pour nous contacter (partenariat, dons de clés, etc.) :</p>
	<p class="email">indiegift(at)gmail(dot)com</p>
	<p>Ce site a été créé et développé par <a href="http://twitter.com/_MartinH_" target="_blank">Imote</a>. Contact pro uniquement :</p>
	<p class="email">martin(dot)hammerchmidt(at)gmail(dot)com</p>
	<p>L'incroyable charte graphique a été pensé et créé par <a href="http://toinane.crea-th.at" target="_blank">Toinane</a>. Contact pro uniquement :</p>
	<p class="email">toinane(at)crea-that(dot)fr</p>
</article>
</template>