<template name="CGU">
<aside class="info-concours">
	<h2>Conditions Générales d'Utilisation</h2>
</aside>
<article>
	<p>
	Le présent contrat doit obligatoirement être accepté pour permettre l’inscription au site Indie-Gift
	ainsi que pour l’utilisation des services disponibles uniquement via l’inscription. L’utilisation du
	site Indie-Gift est entièrement gratuite, seul les surtaxes opérateur peuvent avoir lieu et nous ne
	pouvons en prendre charge.
	</p>
	<h3>1. Les obligations de l’utilisateur</h3>
	<p class="cgu">
	L’utilisateur ayant accepté ce contrat est obligé de respecter les conditions suivantes : Lors
	de la participation au concours, l’utilisateur se trouve obligé d’effectuer entièrement le système
	d’inscription, en négligent aucune étape. Ces étapes sont variables selon les circonstances de
	l'inscription. La plupart de ces étapes représente des interaction avec le service internet Twitter.
	</p>
	<p class="cgu">
	Si tel n’est pas le cas, des sanctions selon la gravité des faits seront prises. Ces sanctions
	peuvent être : suppression du compte, bannissement définitif de l’IP ou le dépôt de plainte
	auprès de l’administration française.
	</p>
	<h3>2. Les interdictions de l’utilisateur</h3>
	<p class="cgu">
	L’utilisateur ayant accepté ce contrat est obligé de respecter les conditions suivantes :
	</p>
	<p class="cgu">
	Il est interdit de poster des insulte de quelque type que se soit (racistes, discriminatoires, etc).
	</p>
	<p class="cgu">
	Il est interdit d’essayer de passer outre des systèmes prévu, de tenter de hacker le site web
	Indie-Gift ou encore d’accéder à des ressources interdites.
	</p>
	<p class="cgu">
	Si tel n’est pas le cas, des sanctions selon la gravité des faits seront prises. Ces sanctions
	peuvent être : suppression du compte, bannissement définitif de l’IP ou le dépôt de plainte
	auprès de l’administration française.
	</p>
	<h3>3. Propriété intellectuelle</h3>
	<p class="cgu">
	Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle,
	ne peut être faite de ce site sans l’autorisation directe de l’association Indie-Gift.
	</p>
	<h3>4. Liens hypertextes</h3>
	<p class="cgu">
	Le site Indie-Gift peut contenir des liens hypertextes vers d’autres sites présents sur le réseau
	Internet. Les liens vers ces autres ressources peuvent vous faire quitter le site Indie-Gift.
	</p>
	<p class="cgu">
	Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse
	de l’association Indie-Gift. Aucune autorisation ou demande d’information préalable ne peut être
	exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site Indie-Gift.
	Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant,
	l’association Indie-Gift se réserve le droit de demander la suppression d’un lien qu’il estime non
	conforme à l’objet du site Indie-Gift.
	</p>
	<h3>5. Responsabilité de l’éditeur</h3>
	<p class="cgu">
	Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de
	sources considérées comme étant fiables.
	</p>
	<p class="cgu">
	Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes
	techniques et des erreurs typographiques.
	</p>
	<p class="cgu">
	L’association Indie-Gift se réserve le droit de les corriger, dès que ces erreurs sont portées à
	sa connaissance.
	</p>
	<p class="cgu">
	Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents
	mis à disposition sur ce site.
	</p>
	<p class="cgu">
	Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout
	moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait
	l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend
	connaissance.
	</p>
	<p class="cgu">
	L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule
	responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans
	que l’association Indie-Gift puisse être recherché à ce titre, et sans recours contre ce dernier.
	</p>
	<p class="cgu">
	L’association Indie-Gift ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature
	qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents
	disponibles sur ce site.
	</p>
	<p class="cgu">
	L’association Indie-Gift ne peut également pas être tenu responsable des propos exprimé par des
	personnes ne faisant pas partie de l’association Indie-Gift. En effet, ces propos peuvent être
	exprimé sur des zone dites “publiques” et une très faible modération est appliqué sur celle-ci.
	</p>
	<h3>6. Accès au site</h3>
	<p class="cgu">
	L’association Indie-Gift s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf
	en cas de force majeure ou d’un événement hors du contrôle de l’association Indie-Gift, et sous
	réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du
	site et des services.
	</p>
	<p class="cgu">
	Par conséquent, l’association Indie-Gift ne peut garantir une disponibilité du site et/ou des services,
	une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il
	n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens
	électronique ou téléphonique.
	</p>
	<p class="cgu">
	La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou
	d’utilisation des services.
	</p>
	<p class="cgu">
	Par ailleurs, l’association Indie-Gift peut être amené à interrompre le site ou une partie des
	services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît
	et accepte que l’association Indie-Gift ne soit pas responsable des interruptions, et des conséquences
	qui peuvent en découler pour l’utilisateur ou tout tiers.
	</p>
	<h3>7. Modification des conditions d’utilisation</h3>
	<p class="cgu">
	L’association Indie-Gift se réserve la possibilité de modifier, à tout moment et sans préavis,
	les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son
	exploitation.
	</p>
	<h3>8. Règles d’usage d’Internet</h3>
	<p class="cgu">
	L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et
	notamment reconnaît que :
	</p>
	<p class="cgu">
	L’association Indie-Gift n’assume aucune responsabilité sur les services accessibles par Internet et
	n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données
	qui pourraient transiter par l’intermédiaire de son centre serveur.
	</p>
	<p class="cgu">
	L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre
	les détournements éventuels. La présence du logo représentant Indie-Gift, l’association Indie-Gift
	ou leurs filliales institue une présomption simple de validité. La communication de toute information
	jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.
	</p>
	<p class="cgu">
	L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes
	d’usage ou être protégées par un droit de propriété.
	</p>
	<p class="cgu">
	L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère
	sur Internet.
	</p>
	<p class="cgu">
	L’utilisateur reconnaît que l’association Indie-Gift ne dispose d’aucun moyen de contrôle sur le
	contenu des services accessibles sur Internet.
	</p>
	<h3>9. Droit applicable</h3>
	<p class="cgu">
	Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit
	français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec
	de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls
	compétents pour connaître de ce litige.
	</p>
	<p class="cgu">
	Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire
	à l’adresse suivante : indiegift(at)gmail[dot]com
	</p>
	<h3>10. Lexique</h3>
	<p class="cgu">
	L’utilisateur présenté dans ce document représente toute personne morale ou physique, ou tout visiteur
	électronique qui vient sur le site Indie-Gift.fr.
	</p>
	<p class="cgu">
	Indie-Gift et Indie-Gift.fr représentent le site web ainsi que ses services disponible à l’adresse
	suivante : indie-gift.fr
	</p>
	<p class="cgu">
	L’association Indie-Gift représente le site web Indie-Gift, ses services, ses filliales ainsi que
	les membres de l’association Indie-Gift.
	</p>
</article>
</template>