<template name="Thanks">
<aside class="info-concours">
	<h2>Remerciements</h2>
</aside>
<article>
	<p>
	Les remerciements sont très important, en effet sans certaines personnes qui ne font pas partie de l'équipe,
	le site n'existerai tout simplement pas ou n'aurrai pas cette forme. Nous tenons beaucoup à ces personnes.
	</p>
	
	<p><span class="thanks"><i class="fa fa-heart"></i> Les développeurs</span> - Un grand merci à eux pour leurs soutient et leurs dons de clés.</p>
	<p><span class="thanks"><i class="fa fa-heart"></i><i class="fa fa-heart"></i> Toinane</span> - Le plus grand merci du monde lui revient pour nous avoir fourni l'incroyable charte graphique qui compose ce site.</p>
	<p><span class="thanks"><i class="fa fa-heart"></i> Pulsheberg</span> - Un grand merci à eux pour leurs soutient.</p>
	<p><span class="thanks"><i class="fa fa-heart"></i> Drakit</span> - Merci à toi, pour avoir partagé le site et ainsi l'avoir fait découvrir à de nouvelles personnes.</p>
	<h3>Un grand merci à vous !</h3>
</article>
</template>