<template name="footer">
<footer>
    <div class="logo"></div>
    <p class="announce">
        Association selon la loi de 1901. Toutes les clés distribuées sont légales. 
        <span>
            <a href="{{pathFor 'AboutUs'}}">À propos de nous</a> -
            <a href="{{pathFor 'Thanks'}}">Remerciements</a> -
            <a href="{{pathFor 'Mentions'}}">Mentions légales</a> -
            <a href="{{pathFor 'CGU'}}">C.G.U.</a>
        </span>
    </p>
    <p class="credit">Theme made by Toinane with <i class="fa fa-heart"></i> !</p>
</footer>
</template>